<!DOCTYPE html>
<html>
	<head>
		<style>
			html {
				margin: 0;
        		padding: 0;
        		height: 100%;
        		width: 100%;
                /*
        		background-image: url('/static/teresahead.png');
        		background-size: 30%;
        		background-position: 10% 70%;
        		background-repeat: no-repeat;
                */
                
			}
			body {
        		margin: 0;
        		padding: 0;
        		height: 100%;
        		width: 100%;
        		text-align: center;
                /*
                background-image: url('/static/Teresa.png');
        		background-size: 45%;
        		background-position: 110% 70%;
        		background-repeat: no-repeat;
                */
      		}
      		form{
      			font-size: 130%;
      		}
      		h3{
      			font-size: 170%;
      		}
      		label{
      			font-size: 80%;
      		}
            select{
                text-align: left;
            }
		</style>
	</head>
	<body>
		<h3 style="text-align:center;"><!--Second Masterpiece of Princess Lan and Her Faithful Photographer Mina Lisa-->Demo</h3>
        <p>select interested field</p>
        <select id='selector'>
            <option>World</option>
            <option>Sports</option>
            <option>Fashion & Style</option>
            <option>Books</option>
            <option>Music</option>
            <option>Television</option>
            <option>Movies</option>
            <option>Technology</option>
            <option>Science</option>
            <option>Food</option>
            <option>Real Estate</option>
            <option>Theater</option>
            <option>Health</option>
            <option>Travel</option>
            <option>Education</option>
            <option>Your Money</option>
            <option>Politics</option>
            <option>Economy</option>
            <option>Art & Design</option>
        </select>
        <p>help us optimize classifier?</p>
        <input type="radio" name="trgr" value="3" />
        <label>Both</label>
        <input type="radio" name="trgr" value="2" />
        <label>Categorize Only</label>
        <input type="radio" name="trgr" value="1" />
        <label>Customize Only</label>
        <input type="radio" name="trgr" value="0" />
        <label>Nope</label>
    	<!--<form id='form'>-->
            <br>
    		<p0>{{init_t[0]}}</p0>
    		<br>
    		<input type="radio" id="like_0" name="img_0" value="1" />
    		<label for="like_0">Like</label>
    		<input type="radio" id="dislike_0" name="img_0" value="-1" />
    		<label for="dislike_0">Dislike</label>
            <select id='selector_0' name='s0'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<p1>{{init_t[1]}}</p1>
    		<br>
    		<input type="radio" id="like_1" name="img_1" value="1" />
    		<label for="like_1">Like</label>
    		<input type="radio" id="dislike_1" name="img_1" value="-1" />
    		<label for="dislike_1">Dislike</label>
            <select id='selector_1' name='s1'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<p2>{{init_t[2]}}</p2>
    		<br>
    		<input type="radio" id="like_2" name="img_2" value="1" />
    		<label for="like_2">Like</label>
    		<input type="radio" id="dislike_2" name="img_2" value="-1" />
    		<label for="dislike_2">Dislike</label>
            <select id='selector_2' name='s2'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<p3>{{init_t[3]}}</p3>
    		<br>
    		<input type="radio" id="like_3" name="img_3" value="1" />
    		<label for="like_3">Like</label>
    		<input type="radio" id="dislike_3" name="img_3" value="-1" />
    		<label for="dislike_3">Dislike</label>
            <select id='selector_3' name='s3'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<p4>{{init_t[4]}}</p4>
    		<br>
    		<input type="radio" id="like_4" name="img_4" value="1" />
    		<label for="like_4">Like</label>
    		<input type="radio" id="dislike_4" name="img_4" value="-1" />
    		<label for="dislike_4">Dislike</label>
            <select id='selector_4' name='s4'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<p5>{{init_t[5]}}</p5>
    		<br>
    		<input type="radio" id="like_5" name="img_5" value="1" />
    		<label for="like_5">Like</label>
    		<input type="radio" id="dislike_5" name="img_5" value="-1" />
    		<label for="dislike_5">Dislike</label>
            <select id='selector_5' name='s5'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<p6>{{init_t[6]}}</p6>
    		<br>
    		<input type="radio" id="like_6" name="img_6" value="1" />
    		<label for="like_6">Like</label>
    		<input type="radio" id="dislike_6" name="img_6" value="-1" />
    		<label for="dislike_6">Dislike</label>
            <select id='selector_6' name='s6'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<p7>{{init_t[7]}}</p7>
    		<br>
    		<input type="radio" id="like_7" name="img_7" value="1" />
    		<label for="like_7">Like</label>
    		<input type="radio" id="dislike_7" name="img_7" value="-1" />
    		<label for="dislike_7">Dislike</label>
            <select id='selector_7' name='s7'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<p8>{{init_t[8]}}</p8>
    		<br>
    		<input type="radio" id="like_8" name="img_8" value="1" />
    		<label for="like_8">Like</label>
    		<input type="radio" id="dislike_8" name="img_8" value="-1" />
    		<label for="dislike_8">Dislike</label>
            <select id='selector_8' name='s8'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<p9>{{init_t[9]}}</p9>
    		<br>
    		<input type="radio" id="like_9" name="img_9" value="1" />
    		<label for="like_9">Like</label>
    		<input type="radio" id="dislike_9" name="img_9" value="-1" />
    		<label for="dislike_9">Dislike</label>
            <select id='selector_9' name='s9'>
                <option value='1'>correct</option>
                <option>Others</option>
                <option>World</option>
                <option>Sports</option>
                <option>Fashion & Style</option>
                <option>Books</option>
                <option>Music</option>
                <option>Television</option>
                <option>Movies</option>
                <option>Technology</option>
                <option>Science</option>
                <option>Food</option>
                <option>Real Estate</option>
                <option>Theater</option>
                <option>Health</option>
                <option>Travel</option>
                <option>Education</option>
                <option>Your Money</option>
                <option>Politics</option>
                <option>Economy</option>
                <option>Art & Design</option>
            </select>
    		<br>
    		<input id="like" type="button" value="Submit" onclick="feedback();"/>
    	<!--</form>-->
        <h4></h4>
		<script>
            var topic = 'World';
			function feedback(){
                var trigger = $('input[name=trgr]:checked').val();
                if(trigger==undefined)
                    trigger=-1;
                console.log(trigger);
                console.log('trigger');
				var f_A=new Array();
                var f_B=new Array();
                var text=[];
				var i;
                /*
                var form = $('#form').serializeArray();
                for(i=0;i<form.length;i++)
                {
                    if(form[i]['name'][0]=='s')
                    {
                        if(form[i]['value']=='correct')
                            f_A.push(topic);
                        else
                            f_A.push(form[i]['value']);
                    }
                }*/
				for(i=0;i<10;i++)
				{
					var ipt_B='input[name=img_'+String(i)+']:checked';
                    if($(ipt_B).val()==undefined)
                    {
                        f_B.push('0');
                    }
                    else
					    f_B.push($(ipt_B).val());

                    var ipt_A='#selector_'+String(i)
                    if($(ipt_A).find('option:selected').text()=='correct')
                    {
                        f_A.push(topic);
                    }
                    else
                        f_A.push($(ipt_A).find('option:selected').text());

                    text.push($('p'+String(i)).text());
				}
                var category=$('#selector').find('option:selected').text();
                topic = category;
                console.log(category);
                console.log('B');
				console.log(f_B);
                console.log('A');
                console.log(f_A);
                console.log(text);
				$.getJSON($SCRIPT_ROOT+'/feedback',{'f_A':f_A,'f_B':f_B,'text':text,'category':category,'trigger':trigger},function(data){
                	console.log(data);
                    console.log(data.text.length)
                	for(i=0;i<data.text.length;i++)
                	{
                		$('p'+String(i)).text(data.text[i]);
                	}
                    if(data.text.length<10)
                    {
                        for(i=data.text.length;i<10;i++)
                        {
                            $('p'+String(i)).text('Tooooo fast!!');
                        }
                    }
                  //  $('h4').text(data.label);
            	});
                for(i=0;i<10;i++)
                {
                    $("#selector_"+String(i)).val('1');
                }
                
			}
            /*
            function prnt(){
                txt=$('#selector').find('option:selected').text();
                console.log(txt)
            }
            */
		</script>
		<script type=text/javascript>
    		$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    	</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	</body>
</html>
